.page {
  padding: 20px;
}
.carouselContain {
  padding-left: 10%;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
}
.textContain {
  max-width: 300px;
}

.rotateBtn {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 20px;
  border: 1px solid black;
}
.bankSelect {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-bottom: 30px;
}
.bankItem {
  width: 90px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 10px 10px 40px #cdcdcd, -12px -12px 10px #ffffff;
}
.listContainer {
  padding: 0 20px;
}
.topTable {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  background-color: #0178bd;
  color: #fff;
  padding: 10px;
}
.rowTable {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #b1b2b3;
}
.rowTable:hover {
  background-color: #53b8f8;
  color: #fff;
}

.innerRow {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  padding: 0 0 0 10px;
}

.innerRow:nth-child(odd) {
  background-color: #dff4ff;
}
.videoBtn {
  background-color: #0392e5;
  color: #f0f8ff;
  margin: 10px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  transform: scale(1.05);
  border: #004770;
}
.videoBtn:hover {
  background-color: #5dc6f9;
  color: #0a1178;
  box-shadow: 5px 5px 10px gray;
}
